body {
    background-image: url("images/bg-desktop.svg");
    background-color: #6648b1;
    color: white;
    margin: 0;
}

section {
    padding: 3% 6%;
}

/* Logo Section */
.logo {
    height: 50px;
    width: auto;
}

/* Body Section */
#body-section {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    gap: 4%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.illustration-mockup {
    width: 100%;
}

.btn {
	background-color:#ffffff;
    border-radius:42px;
    border: none;
    box-shadow: 5px 5px 5px #48327e;
	display:inline-block;
	color:#6648b1;
	font-family:'Poppins', sans-serif;
    font-size:16px;
	padding:12px 55px;
    text-decoration:none;
    margin: 5px;
}
.btn:hover {
    background-color:#bea6fc;
    color: white;
}

/* Footer Section */
#footer-section {
    text-align: right;
}

.icon {
    padding: 10px;
    border: 1px solid white;
    border-radius: 100%;
    margin: 0 5px;
}

.icon:hover {
    background-color: #bea6fc;
}

.fa-facebook-f {
    padding-left: 13px;
    padding-right: 13px;
}

@media (max-width: 1028px) {
    #body-section, #footer-section {
        grid-template-columns: 1fr;
        gap: 2%;
        text-align: center;
    }

    section {
        padding: 5% 7%;
    }
}